:root {
    --primary-clr: #3D52A0;
    --secondary-color: #7091E6;
    --dark-gray: #8697c4;
    --light-gray: #adbbda;
    --more-light-gray: #7091e610;
    --reddish-white: #ede8f5;
    --white-clr: #ffffff;
    --black_clr: #000000;
    --star-clr: #FFA100;
    --green-clr: #099250;
    --red-clr: #D92D20;
}

.department_section {
    color: var(--black_clr);
}
.department_section_wrapper {
    width: 70%;
}
.departments_div {
    padding: 20px 60px 20px 30px;
    border-radius: 10px;
    background-color: var(--white-clr);
}
  

.department {
    border: 1px solid var(--light-gray);
    padding: 20px 20px 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.department .department_header{
    display: flex;
}
.department .department_header img {
    width: auto;
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
}

.department_head .place {
    font-size: 14px;
    color: var(--dark-gray);
    font-weight: 500;
    margin-top: -6px;
}
.department_head .course {
    font-size: 14px;
    color: var(--black_clr);
    font-weight: 400;
}
.department_head .fees {
    font-size: 14px;
    color: var(--black_clr);
    font-weight: 400;
    margin-top: -15px;
}
.department_head .fees span {
    color: var(--green-clr);font-weight: 500;
}


/* ----  website_rating ---- */
.website_rating {
    margin-top: 20px;
    padding: 20px 60px 20px 30px;
    border-radius: 10px;
    background-color: var(--white-clr);
}

.website_rating .likely {
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-top: 20px;
}
.website_rating .likely .number span {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    transition: .6s all;
}
.website_rating .likely .number span:hover {
    margin-top: -8px;
    border: 5px dashed var(--white-clr);
    cursor: pointer;
}
.website_rating .likely .number p {
    margin-top: 10px;
    font-size: 12px;
}

/* ---------- answered_ques ------ */
.answered_ques {
    margin-top: 20px;
    padding: 20px 60px 20px 30px;
    border-radius: 10px;
    background-color: var(--white-clr);
}
.answered_ques .qna_page_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answered_ques .qna_page_link a {
    color: var(--white-clr);
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 30px;
    padding: 4px 20px;
    transition: .4s all;
}
.answered_ques .qna_page_link a:hover {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 30px;
    padding: 4px 20px;
}
.question_wrapper {
    background-color: var(--more-light-gray);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.question_card {
    border-bottom: 1px dashed var(--light-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}
.question_card .question_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question_card .question_card_header button {
    border: none;
    outline: none;
    background-color: #dedede;
    padding: 4px 8px;
    border-radius: 50%;
}
.question_card small {
    display: flex;
    margin-bottom: 20px;
}
.question_card small img {
    /* border: 1px solid red; */
    background-color: var(--dark-gray);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.icons_div {
    /* border: 1px solid red;    */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons_div a {
    color: var(--secondary-color);
}
.icons_div .l_d_s {
    display: flex;
    justify-content: start;
    align-items: center;
}

.icons_div .l_d_s .like a {
    background-color: #dedede;
    padding: 2px 8px;
    border-radius: 20px;
    transition: 0.6s all;
    color: var(--green-clr);
}
.icons_div .l_d_s .like a:hover {
    color: var(--black-clr);
}
.icons_div .l_d_s .dislike a {
    background-color: #dedede;
    padding: 2px 8px;
    border-radius: 20px;
    color: var(--red-clr);
    transition: 0.6s all;
    margin: 0 8px;
}
.icons_div .l_d_s .dislike a:hover {
    color: var(--black-clr);
}
.icons_div .l_d_s .share a {
    background-color: #dedede;
    padding: 2px 14px;
    border-radius: 20px;
    color: var(--black_clr);
    margin: 0 6px 0 2px;
    transition: 0.6s all;
}
.icons_div .l_d_s .share a:hover {
    color: var(--secondary-color);
}