:root {
    --primary-clr: #3D52A0;
    --secondary-color: #7091E6;
    --dark-gray: #8697c4;
    --light-gray: #adbbda;
    --more-light-gray: #7091e610;
    --reddish-white: #ede8f5;
    --white-clr: #ffffff;
    --black_clr: #000000;
    --star-clr: #FFA100;
    --green-clr: #099250;
    --red-clr: #D92D20;
}

.placement_section {
    color: var(--black_clr);
}
.placement_section_wrapper {
    width: 70%;
}
.placement_div {
    padding: 20px 60px 20px 30px;
    border-radius: 10px;
    background-color: var(--white-clr);
}

.placement_div_wrapper small {
    display: flex;
    margin-top: 30px;
}
.placement_div_wrapper small img {
    background-color: var(--dark-gray);
    width: 20px;
    border-radius: 50%;
    height: 20px;
    margin-right: 5px;
}




/* ---------------- needleToggler ------------- */
.needleToggler {
    margin-left: 300px;
    margin-top: 50px;
    display: flex;
    width: 160px;
    height: 80px;
    border-radius: 80px 80px 0 0;
    /* border: 1px solid orange; */
    position: relative;
  }
  .needleToggler::before,
  .needleToggler::after {
    content: "";
    width: 44px;
    height: 30px;
    background: black;
    border-radius: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(20deg) translateX(2px) translateY(-3px);
    z-index: 0;
    box-shadow: 0 0 30px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 50px var(--secondary-color);
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .needleToggler::after {
    left: auto;
    right: 0;
    transform: rotate(-20deg) translateX(-2px) translateY(-3px);
    box-shadow: 0 0 30px var(--primary-clr), 0 0 20px var(--primary-clr), 0 0 50px var(--primary-clr);
  }
  
  .toggle {
    position: relative;
    width: 160px;
    height: 80px;
    border-radius: 80px 80px 0 0;
    background-image: 
      conic-gradient(from 180deg at bottom center, var(--primary-clr) 0%,
        var(--primary-clr) 34%,
        var(--primary-clr) 34%,
        transparent 34.5%,
        transparent 45%,
        transparent 50%,
        transparent 55%,
        transparent 65.5%,
        var(--primary-clr) 66%,
        var(--primary-clr) 66%);
    z-index: 1;
  }
  
  .toggle button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .toggle button span {
    opacity: 0.25;
    max-width: 80px;
    display: inline-block;
    line-height: 1;
    transform: translateY(-30%);
  }
  
  .toggle::after {
    content: "";
    width: 5px;
    height: 70px;
    border-radius: 5px;
    background: conic-gradient(from 0deg at center top, transparent 49%, white 49.5%, white 50.5%, transparent 51%);
    position: absolute;
    left: calc(50% - 2.5px);
    bottom: 0px;
    transform-origin: bottom center;
    transform: rotate(-75deg);
    transition: all 0.5s ease;
    pointer-events: none;
    filter: drop-shadow(0 0 2px black);
  }
  
  .pressed .needleToggler::after {
    opacity: 1;
  }
  
  .pressed .needleToggler::before {
    opacity: 1;
  }
  
  .pressed .toggle::after {
    transform: rotate(75deg);
  }
  
  .toggle [aria-pressed="false"]::before,
  .toggle [aria-pressed="true"]::after {
    content: "Highest Package - 1.98 Cr";
    height: 50px;
    width: 180px;
    position: absolute;
    left: 0;
    bottom: 20px;
    transform: translateX(-120%);
    /* opacity: 0.25; */
    color: var(--white-clr);
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--primary-clr);
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  .toggle [aria-pressed="true"]::after {
    content: "Average Package - 21.48 L";
    left: auto;
    right: 0;
    transform: translateX(120%);
  }
  
  .toggle [aria-pressed="true"]::before,
  .toggle [aria-pressed="false"]::after {
    opacity: 1;
  }

  .icon {
    font-size: 50px;
    animation: iconAnimation 1s infinite alternate ease-in-out;
  }
  
  @keyframes iconAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
    }
  } 