* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}


:root {
    --primary-clr: #3D52A0;
    --secondary-color: #7091E6;
    --dark-gray: #8697c4;
    --light-gray: #adbbda;
    --reddish-white: #ede8f5;
    --white-clr: #ffffff;
}

body {
  background: var(--primary-clr);
}